.App{
  box-shadow: 0px 0px 22px 0px rgba(152, 151, 153, 0.185);
  width: 40%;
  margin: 18vh auto 0 auto;
}

*{
  color: rgba(22, 22, 22, 0.89);
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
-webkit-user-select: none; /* Chrome, Safari, and Opera */
-webkit-touch-callout: none; 

}